{% extends 'wechatbase.html' %}
{% block title %}index{% endblock %}
{% block content %}
<div id="content">
    <div class="layout">
        <!--=S list-mod =-->
        <link rel="stylesheet" type="text/css" href="/static/css/list-mod.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/list-big-mod.css"/>
        <div class="list-mod">
            <div class="list-bd" id="J_listItem">
                {% for item in list %}
                    <div class="list-item" data-openid="{{item.openid}}" id="{{item.openid}}">
                        <dl class="f-left">
                            <dt class="j_cardWatch" data-uid="2">
                                <a href="{{item.pic}}">
                                    <img src="{{item.pic}}" alt="{{item.openid}}"/>
                                </a>
                            </dt>
                            <dd class="desc">
                                <p class="item-name">
                                    <a href="#{{item.openid}}" class="name-ipt">{{item.nickname}}</a>
                                </p>
                                <p>
                                   <span class="{% if item.sex =='man' %}sex-m{% else %}sex-w{% endif %}">
                                       <b class="num">{{item.sex}}</b>
                                   </span>
                                </p>
                            </dd>
                        </dl>
                        <div class="f-right">
                            <p class="update-time">
                                   {{item.updatetime|date('Y-m-d h:m')}}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="list-ft"></div>
        </div>
        <!--=E list-mod =-->
    </div>

   <!--<script>-->
       <!--//选中功能-->
       <!--function selectName(dom){-->
           <!--var value=dom.value;-->
           <!--dom.setSelectionRange(0,value.length);-->
       <!--}-->
   <!--</script>-->



</div>
{% endblock %}

