{% extends 'wechatbase.html' %}
{% block title %}index{% endblock %}
{% block content %}
<div id="content">
    <div class="layout index-wrap">
        <!--=S index-mod=-->
        <link rel="stylesheet" type="text/css" href="/static/css/wechatview/index-mod.css"/>
        <div class="index-mod">
            <div class="index-bd">
                <div class="avt-list" id="J_avtList">
                    {% for item in list %}
                    <a href="#{{item.openid}}" data-openid="{{item.openid}}" class="avt-item"><img src="{{item.pic}}" alt="00"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--=E index-mod=-->
    </div>
</div>
{% endblock %}

