{% set year = "2013" %}
<!--=S footer=-->
<link rel="stylesheet" href="/static/css/footer.css"/>
<div class="page-footer">
    <div class="container">
        <dl class="developer">
            <dt>前端/开发</dt>
            <dd>
                <span class="nick fanyu"><span class="J_WangWang" data-nick="饭鱼"></span>饭鱼</span>
                <span class="nick wenyu"><span class="J_WangWang" data-nick="文瑜"></span>文瑜</span>
                <span class="nick xipeng"><span class="J_WangWang" data-nick="惜朋"></span>惜朋</span>
            </dd>
        </dl>
        <dl class="developer">
            <dt>交互/视觉</dt>
            <dd>
                <span class="nick youma"><span class="J_WangWang" data-nick="toranoko"></span>悠马</span>
            </dd>
        </dl>
        <dl class="developer">
            <dt>旺旺交流群</dt>
            <dd>139269784</dd>
        </dl>
        <a href="http://gitlab.alibaba-inc.com/x/maoxu" target="_blank" class="btn-source">
            查看源码
        </a>
    </div>
</div>
<!--=E footer=-->
<script src="http://a.tbcdn.cn/p/header/webww-min.js?t=20110629.js"></script>